

.characterProgressionContainer {
    position: absolute;
    top: 20px;
    right: 20px;
    background-image: url('manuscript.jpg'); 
    padding: 10px;
    border-radius: 8px;
  }
  
  .statsLabel {
    color: #333;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .statsItem {
    margin-bottom: 5px;
    color: #555;
  }
  
  