  body {
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
  }
  
  .containerInventory {
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 30px;
    display: flex;
  }
  
  .inventory-box {
    width: 100px;
    height: 100px;
    background-color: black;
    border: 5px solid #ffffff;
    margin-left: 30px;
    display: flex;
   
  }

  .removeButton {
    position: fixed;
    right: 0;
    background-color: #ff0000; /* Cor de fundo para destacar, ajuste conforme necessário */
    color: #ffffff; /* Cor do texto, ajuste conforme necessário */
    border: none;
    padding: 5px 10px;
    cursor: pointer;
  }

  .buttonContainer {
    position: fixed;
    bottom: 20%;
    right: 0;
    transform: translate(0, -50%);
    text-align: center; /* Para centralizar os botões verticalmente no centro da tela */
  }

  .buttonContainer button {
    margin-right: 10px;
  }
  
  .addSquareButton {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 20px; 
  }