body {
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

.containerMap {
  position: fixed;
  left: 0;
  top: 0;
  margin: 30px;
  display: flex;
}

.mapa {
  width: 75px;
  height: 75px;
  margin-left: 30px;
    display: flex;
}


