ul {
    list-style: none; 
    display: flex; 
    padding: 0;
    justify-content: center;
    top: 0;
  }
  
  li {
    margin-right: 10px; 
  }
  

  button {
    background-color: #a34caf; 
    color: white; 
    padding: 10px 20px; 
    font-size: 16px;
    cursor: pointer; 
    border: none;
    border-radius: 5px; 
  }
  
  
  button:hover {
    background-color: #c424ec; 
  }